
body {
    background-image: url("./assets/images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-size: cover;
}

#main-header {
    text-align: center;
    font-weight: bold;
}

#input-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 75px;
}

.nameDiv {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px
}

#main-page {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.options {
    width: 50%;
    text-align: center;
    height: 55px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#optSubBttn {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 55px; 
}

#main-h1 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    padding-top: 25px;
    background-color:gray;
    padding-bottom: 45px;
    opacity: .85;
    font-weight: bolder;
    font-size: 65px;
    text-decoration: underline;
}