
body {
    background-image: url("./assets/images/background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-size: cover;
}

#main-header {
    text-align: center;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}

#input-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;

}

.nameDiv {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px
}

#main-page {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.options {
    width: 50%;
    text-align: center;
    height: 55px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#submit-bttn {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 55px; 
    margin-bottom: 200px;
}

#main-h1 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    padding-top: 25px;
    background-color: white;
    padding-bottom: 45px;
    opacity: .65;
    font-weight: bolder;
    font-size: 65px;
    text-decoration: underline;
    border-bottom: solid 3px;
    color: black;
}

#footer {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    /* text-decoration: underline; */
    font-size: 25px;
    width: 100%;
    bottom: 0;
    background-color: black;
    position: fixed;
    border-top: solid 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: .65;
    color: white;
}

#footer-text {
    font-size: 20px;
}

#welcome-info {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: bold;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
    opacity: 0.85;
    padding-top: 50px
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }




/* #map {
    height: 300px;
    width: 300px;
    border-radius: 400px;
  }
  /* Optional: Makes the sample page fill the window. */
  /* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  } */