
body {
    background-image: url("./assets/images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-size: cover;
}

#main-header {
    text-align: center;
    font-weight: bold;
}

#input-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 75px;
}

.nameDiv {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px
}

#main-page {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.options {
    width: 50%;
    text-align: center;
    height: 55px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#optSubBttn {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 55px; 
}

#main-h1 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    padding-top: 25px;
    background-color:gray;
    padding-bottom: 45px;
    opacity: .85;
    font-weight: bolder;
    font-size: 65px;
    text-decoration: underline;
    border-bottom: solid 3px;
}

#footer {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    /* text-decoration: underline; */
    font-size: 25px;
    width: 100%;
    bottom: 0;
    background-color:gray;
    position: fixed;
    border-top: solid 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer-text {
    font-size: 20px;
}

#welcome-info {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    padding-top: 15px;
    font-weight: bold;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}










#map {
    height: 300px;
    width: 300px;
    border-radius: 400px;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }